.login{
    height: 100vh;
    text-align: center;
    opacity: 0.75;
    top: 0%;
}

.card{
    
    color:white;
    width:400px;
    margin-left: auto;
    margin-right: auto;
    
}
.btn btn-danger{
    width:100px;
}
.card-body{
    background-color: black;
}